### Assignment 3

#### Descriptive Statistics - Measures of Central Tendency and variability

#### Perform the following operations on any open source dataset (e.g., data.csv) the age groups. Create a list that contains a numeric value for each response to the
#### 3.1 Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by categorical variable.

#### 3.2 Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris- versicolor’ of iris.csv dataset. Provide the codes with outputs and explain everything that you do in this step.

#### Preprocessing the data :

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("Employee_Salary.csv");
df.head()

   ID  Experience  Age  Gender  Salary
0   1         5.0   28  Female  250000
1   2         1.0   21    Male   50000
2   3         3.0   23  Female  170000
3   4         2.0   22    Male   25000
4   5         1.0   17    Male   10000

In [4]:
df.isnull().sum()

ID            0
Experience    1
Age           0
Gender        1
Salary        0
dtype: int64

In [5]:
df["Experience"] = df["Experience"].ffill();
df["Gender"] = df["Gender"].ffill();

In [6]:
df.isnull().sum()

ID            0
Experience    0
Age           0
Gender        0
Salary        0
dtype: int64

#### 3.1 Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by categorical variable.¶

In [7]:
d = df["Experience"].groupby( df[ "Gender" ] ).describe()
d

        count       mean       std  min  25%   50%   75%   max
Gender
Female   17.0  10.470588  8.224336  1.0  3.0  10.0  19.0  27.0
Male     18.0   8.166667  6.989488  1.0  2.0   5.5  14.0  25.0

In [8]:
d.mean()

count    17.500000
mean      9.318627
std       7.606912
min       1.000000
25%       2.500000
50%       7.750000
75%      16.500000
max      26.000000
dtype: float64

In [9]:
d.std()

count    0.707107
mean     1.629119
std      0.873170
min      0.000000
25%      0.707107
50%      3.181981
75%      3.535534
max      1.414214
dtype: float64

In [10]:
d.min()

count    17.000000
mean      8.166667
std       6.989488
min       1.000000
25%       2.000000
50%       5.500000
75%      14.000000
max      25.000000
dtype: float64

In [11]:
d.max()

count    18.000000
mean     10.470588
std       8.224336
min       1.000000
25%       3.000000
50%      10.000000
75%      19.000000
max      27.000000
dtype: float64

In [12]:
d.median()

count    17.500000
mean      9.318627
std       7.606912
min       1.000000
25%       2.500000
50%       7.750000
75%      16.500000
max      26.000000
dtype: float64

#### 1. Count number of entitites per group

In [13]:
g = df.groupby("Gender")
print(len(g.groups.keys()))

2

#### 2. Identify distinct keys

In [14]:
print(g.groups.keys())

dict_keys(['Female', 'Male'])

#### 3. Print only one group

In [15]:
g.get_group("Female")

    ID  Experience  Age  Gender    Salary
0    1         5.0   28  Female    250000
2    3         3.0   23  Female    170000
6    7        19.0   54  Female    800000
7    8         2.0   21  Female      9000
8    9        10.0   36  Female     61500
9   10        15.0   54  Female    650000
10  11         4.0   26  Female    250000
16  17        10.0   34  Female    930000
17  18        15.0   54  Female   7900000
23  24         1.0   21  Female      6000
24  25         4.0   23  Female      8900
25  26         3.0   22  Female     20000
27  28        27.0   62  Female  10000000
28  29        19.0   54  Female   5000000
29  30         2.0   21  Female      6100
32  33        20.0   55  Female   1540000
33  34        19.0   53  Female   9300000

#### 3.2 Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris- versicolor’ of iris.csv dataset. Provide the codes with outputs and explain everything that you do in this step.

In [16]:
ds = pd.read_csv("Iris.csv");
ds.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [17]:
ds["Species"].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [21]:
ds[ ds["Species"] == "Iris-setosa" ]["SepalLengthCm"].describe()

count    50.00000
mean      5.00600
std       0.35249
min       4.30000
25%       4.80000
50%       5.00000
75%       5.20000
max       5.80000
Name: SepalLengthCm, dtype: float64

In [19]:
ds[ ds["Species"] == "Iris-versicolor" ]["SepalLengthCm"].describe()

count    50.000000
mean      5.936000
std       0.516171
min       4.900000
25%       5.600000
50%       5.900000
75%       6.300000
max       7.000000
Name: SepalLengthCm, dtype: float64

In [20]:
ds[ ds["Species"] == "Iris-virginica" ]["SepalLengthCm"].describe() #See "Iris-virginica"

count    50.00000
mean      6.58800
std       0.63588
min       4.90000
25%       6.22500
50%       6.50000
75%       6.90000
max       7.90000
Name: SepalLengthCm, dtype: float64